<div class="row">
    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formLogin"></span>
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Agregar Tarea</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input type="text" class="form-control" id="titulo"
                            placeholder="Ingresar Titulo" #titulo>
                    </div>
                    <div class="form-group"><label for="descripcion">Descripcion</label>
                        <input type="text"
                            class="form-control" id="descripcion" placeholder="¿De que se trata tu tarea?" #descripcion>
                    </div>
                    <div class="form-group">
                      <label for="prioridad">Prioridad</label>
                      <select class="form-control" id="prioridad" #prioridad>
                          <option value="1">Muy Alta</option>
                          <option value="2">Alta</option>
                          <option value="3">Normal</option>
                          <option value="4">Baja</option>
                      </select>
                    </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(titulo.value,descripcion.value,prioridad.value)">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 offset-md-2">
      <app-detalle-tarea *ngFor="let tarea of listaTareas" [tarea]="tarea" ></app-detalle-tarea>
  </div>    
</div>
